<aside class="sidebar-left">
  <nav>
    <ul>
      <li><a href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-sm"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l9-9 9 9M4 10v10a1 1 0 001 1h4m6 0h4a1 1 0 001-1V10"/></svg>Dashboard</a></li>
      <li><a href="/gestionfinca" class="active"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-sm"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7l9 4 9-4-9-4-9 4zm0 6l9 4 9-4"/></svg>Gestión de Finca</a></li>
  <li><a href="/catalogo"><svg xmlns="http://www.w3.org/2000/svg" class="icon-sm" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h6l2 2h10v8a2 2 0 01-2 2H5a2 2 0 01-2-2V7z"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7l2-4h6l2 4"/></svg>Catálogo Agrícola</a></li>
      <li><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-sm"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v4m4-4v4m4-4v4m1 4H7a2 2 0 01-2-2V7a2 2 0 012-2h3l2-2h0l2 2h3a2 2 0 012 2v12a2 2 0 01-2 2z"/></svg>Inicio</a></li>
      <li><a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon-sm"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7"/><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8v8"/></svg>Cerrar sesión</a></li>
    </ul>
  </nav>
</aside>
